<div *ngIf="data">

  <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="row" fxLayoutGap="20px">
      <img class="moviePoster" src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    </div>

    <div fxLayout="row" fxLayoutGap="20px">

      <mat-card class="bg-light head">
        <div class="text-light headLable">
          {{data.movieName | titlecase}}
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p><strong>Genre:</strong> {{data.movieName | uppercase}}</p>
        <p><strong>Released:</strong> {{data.movieName | uppercase}}</p>
        <p><strong>Rated:</strong> {{data.movieName | uppercase}}</p>
        <p><strong>IMDB Rating:</strong> {{data.movieName | uppercase}}</p>
        <p><strong>Director:</strong> {{data.movieName | uppercase}}</p>
        <p><strong>Writer:</strong> {{data.movieName | uppercase}}</p>
        <p><strong>Star:</strong> {{data.movieName | uppercase}}</p>


      </mat-card>

    </div>
  </div>




</div>
