.headLable {
  text-align: center;
  background-color: rgb(102, 146, 230);
  font-size: 20px;
  padding: 5px;
}

.head {
  color: #123456;
  width: 300px;
  font-size: 16px;
}

.moviePoster {
  width: 200px;
  height: 400px;
}

@media screen and (max-width: 1156px) {
  .headLable {
    text-align: center;
    background-color: rgb(102, 146, 230);
    font-size: 20px;
    padding: 5px;
  }

  .head {
    color: #123456;
    width: 300px;
    font-size: 16px;

  }

  .moviePoster {
    width: 150px;
    height: 250px;
  }
}

@media screen and (max-width: 513px) {
  .headLable {
    text-align: center;
    background-color: rgb(102, 146, 230);
    font-size: 16px;
    padding: 5px;
  }

  .head {
    color: #123456;
    width: 250px;
    font-size: 14px;
    margin-top: 20px;
  }

  .moviePoster {
    width: 100px;
    height: 150px;
  }
}
