<div *ngIf="data">

  <div fxFlex fxLayout="row wrap" fxLayoutAlign="space-around">
    <div fxLayout="row" fxLayoutGap="20px">
      <img class="moviePoster"
      src="{{this.apiImgUrl}}/{{data.moviePoster}}"
      alt="{{data.movieName}}">
    </div>

    <div fxLayout="row" fxLayoutGap="20px">

      <mat-card class="bg-light head">
        <div class="text-light headLable">
          {{data.movieName | titlecase}}
        </div>
        <br>
        <mat-divider></mat-divider>
        <br>
        <p><strong>Genre:</strong> <span *ngFor="let type of data.genre"> {{type | titlecase}}, </span></p>
        <p><strong>Released:</strong> {{data.releasedDate.toDateString()}}</p>
        <p><strong>Rated:</strong> {{data.rated | uppercase}}</p>
        <p><strong>IMDB Rating:</strong> {{data.imbd_rating}}</p>
        <p><strong>Director:</strong> <span *ngFor="let director of data.directorName"> {{director | titlecase}}, </span></p>
        <p><strong>Writer:</strong> <span *ngFor="let writer of data.writerName"> {{writer | titlecase}}, </span></p>
        <p><strong>Star:</strong> <span *ngFor="let actor of data.actorName"> {{actor | titlecase}}, </span></p>


      </mat-card>

    </div>
  </div>




</div>
